* {
    font-family: "Pathway Gothic One";
    font-size: 22px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 765px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: #a7a528;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #868821;
    cursor: pointer;
}